{% extends "base.html" %}
{% block content %}
<h1>Käyttäjän {{kayttaja.nimi}} etusivu</h1>

{% if message is not null %}
<div class="alert alert-info">
    {{message}}
</div>
{% endif %}
{% if error is not null %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}

<h3>Lista tileistä</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Tilinumero</th>
            <th>Saldo</th>
            <th>Siirtoraja</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for tili in tilit %}
        <tr><tr>
            <td>{{tili.tilinumero}}</td>
            <td>{{tili.saldo}}</td>
            <td>{{tili.siirtoraja}}</td>
            <th><a class="btn btn-default btn-sm" href="#">Tarkastele tilitapahtumia</a></th>
        </tr>
        {% endfor %}

    </tbody>
</table>

<p>
    <a class="btn btn-primary" href="{{base_path}}/user/{{kayttaja.tunnus}}/tiedot">Omat tiedot</a>
    <a class="btn btn-primary" href="#">(admin) Lisää tili</a>
</p>
{% endblock %}
