{% extends "base.html" %}
{% block content %}
<h1>Muokkaa omia tietoja</h1>

{% if not tekija.yllapitaja %}
<p>Ainoastaan ylläpitäjä pystyy muuttamaan käyttäjätunnustasi tai nimeäsi palvelussa. Ole yhteydessä konttoriin, jos haluat tehdä näitä muutoksia.</p>
{% endif %}

<form method="post" action="{{base_path}}/user/{{kayttaja.tunnus}}/tiedot">
    <div class="form-group">
        <label class="control-label">Käyttäjätunnus</label>
        <input name="tunnus" class="form-control" type="text" value="{{kayttaja.tunnus}}" readonly>
    </div>
    {% if tekija.yllapitaja %}
    <div class="form-group">
        <label class="control-label">Käyttäjän nimi</label>
        <input type="text" name="nimi" class="form-control" value="{{kayttaja.nimi}}">
    </div>
    {% else %}
    <div class="form-group">
        <label class="control-label">Käyttäjän nimi</label>
        <input type="text" name="nimi" class="form-control" value="{{kayttaja.nimi}}" readonly>
    </div>
    {% endif %}
    <div class="form-group">
        <label class="control-label">Sähköposti</label>
        <input type="text" name="email" class="form-control" value="{{kayttaja.email}}">
    </div>
    <div class="form-group">
        <label class="control-label">Puhelinnumero</label>
        <input type="text" name="puhnro" class="form-control" value="{{kayttaja.puhnro}}">
    </div>
    <div class="form-group">
        <label class="control-label">Kotiosoite</label>
        <input type="text" name="osoite" class="form-control" value="{{kayttaja.osoite}}">
    </div>
    <div class="form-group">
        <label class="control-label">Salasana</label>
        <input type="password" name="salasana" class="form-control" value="">
    </div>
    <div class="form-group">
        <label class="control-label">Uusi salasana</label>
        <input type="password" class="form-control">
    </div>
    <div class="form-group">
        <label class="control-label">Toista uusi salasana</label>
        <input type="password" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
        <a class="btn btn-default" href="{{base_path}}/user/{{kayttaja.tunnus}}/tiedot">Takaisin</a>
    </div>
</form>
{% endblock %}