{% extends "base.html" %}
{% block content %}
<h1>Omat tiedot</h1>

{% if message is not null %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<ul>
    <li><strong>Oma nimi: </strong>{{kayttaja.nimi}}</li>
    <li><strong>Käyttäjätunnus: </strong>{{kayttaja.tunnus}}</li>
    <li><strong>Sähköposti: </strong>{{kayttaja.email}}</li>
    <li><strong>Puhelinnumero: </strong>{{kayttaja.puhnro}}</li>
    <li><strong>Kotiosoite: </strong>{{kayttaja.osoite}}</li>
</ul>

<p>
    <a href="{{base_path}}/user/{{kayttaja.tunnus}}/muokkaa" class="btn btn-primary">Muokkaa</a>
    <a href="{{base_path}}/user/{{kayttaja.tunnus}}" class="btn btn-default">Takaisin</a>
</p>

{% endblock %}