{% extends "base.html" %}
{% block content %}
<h1>Lista käyttäjistä</h1>

{% if message is not null %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Käyttäjätunnus</th>
            <th>Nimi</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for kayttaja in kayttajat %}
        <tr>
            <td>{{kayttaja.tunnus}}</td>
            <td>{{kayttaja.nimi}}</td>
            <td><a class="btn btn-default btn-sm" href="{{base_path}}/user/{{kayttaja.tunnus}}">Tarkastele profiilia</a></td>
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/user/{{kayttaja.tunnus}}/muokkaa">Muokkaa käyttäjän tietoja</a></th>
            <th><a class="btn btn-danger btn-sm" href="{{base_path}}/admin/poista/{{kayttaja.tunnus}}">Poista käyttäjä</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-success" href="{{base_path}}/admin/uusikayttaja">Luo uusi käyttäjä</a>
<a class="btn btn-default" href="{{base_path}}/admin">Palaa etusivulle</a>
{% endblock %}