{% extends "base.html" %}
{% block content %}
<h1>Admin etusivu</h1>

<h3>Lista käyttäjistä</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Käyttäjätunnus</th>
            <th>Nimi</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>oskajoha</td>
            <td>Oskari Johansson</td>
            <th><a class="btn btn-default btn-sm" href="/tsoha/userview">Tarkastele profiilia</a></th>
        </tr>
        <tr>
            <td>mikko</td>
            <td>Mikko Mallikas</td>
            <th><a class="btn btn-default btn-sm" href="#">Tarkastele profiilia</a></th>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="#">Luo uusi tili</a>
{% endblock %}