{% extends "base.html" %}
{% block content %}
<h1>Omat tiedot</h1>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Oma nimi:</strong> Oskari Johansson</li>
    <li><strong>Käyttäjätunnus:</strong> oskajoha</li>
    <li><strong>Sähköposti:</strong> keksitty.email@nan.com</li>
    <li><strong>Puhelinnumero:</strong> 12345</li>
    <li><strong>Kotiosoite:</strong> Mysteeritie 123</li>
</ul>

<p>
    <a href="/tsoha/userinfoedit" class="btn btn-default">Muokkaa</a>
    <a href="/tsoha/userview" class="btn btn-default">Takaisin</a>
</p>

{% endblock %}