{% extends "base.html" %}
{% block content %}

<h1>Tilin {{tili.tilinumero}} tilitapahtumat</h1>

{% if message is not null %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<p>
    <a class="btn btn-primary" href="{{base_path}}/tili/{{tili.tilinumero}}/siirto">Tee tilisiirto</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Ajankohta</th>
            <th>Vastapuolen tili</th>
            <th>Siirretty summa</th>
            <th>Viesti</th>
        </tr>
    </thead>
    <tbody>
        {% for tilitapahtuma in tilitapahtumat %}
        <tr><tr>
            <td>{{tilitapahtuma.aika}}</td>
            <td>{{tilitapahtuma.vastatili}}</td>
            {% if tilitapahtuma.summa < 0 %}
            <td><label class="label label-danger">{{tilitapahtuma.summa}}</label></td>
            {% else %}
            <td><label class="label label-success">{{tilitapahtuma.summa}}</label></td>
            {% endif %}
            <td>{{tilitapahtuma.viesti}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p>
    <a class="btn btn-default" href="{{base_path}}/user/{{tili.kayttaja}}">Takaisin</a>
</p>


{% endblock %}