{% extends "base.html" %}
{% block content %}

<h1>Tee tilisiirto tililtä {{tili.tilinumero}}</h1>

<form method="post" action="{{base_path}}/tili/{{tili.tilinumero}}">
    <div class="form-group">
        <label class="control-label">Summa</label>
        <input name="summa" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label class="control-label">Kohdetili</label>
        <input type="text" name="kohdetili" class="form-control">
    </div>
    <div class="form-group">
        <label class="control-label">Viesti</label>
        <textarea name="viesti" class="form-control"></textarea>
    </div>

</form>

<p>
    <a class="btn btn-default" href="{{base_path}}/tili/{{tili.tilinumero}}">Takaisin</a>
</p>


{% endblock %}