{% extends "base.html" %}
{% block content %}
<h1>Verkkopankki 2.0</h1>

<p>
    Tervetuloa verkkopankkisovellukseen! <br>
    Yläkulmasta pääset kirjautumisikkunaan. Tässä normaalin käyttäjän sekä ylläpitäjän tunnukset, jolla voi kirjautua
</p>

<h3>Normaali käyttäjä</h3>
<ul>
    <li><b>Käyttäjätunnus:</b> testi</li>
    <li><b>Salasana:</b> testi1</li>            
</ul>

<h3>Ylläpitäjä</h3>
<ul>
    <li><b>Käyttäjätunnus:</b> admin</li>
    <li><b>Salasana:</b> admin</li>            
</ul>

<p>Toivottavasti viihdyt!</p>

{% endblock %}