
        {% extends "base.html" %}
        {% block content %}
        <h1>Verkkopankki 2.0</h1>
        
        <p>Tervetuloa verkkopankkisovellukseen! Alta löydät linkkejä sovelluksen eri osiin niin kauan, kun ne eivät ole loogisesti linkitetty yhteen. Toivottavasti viihdyt!</p>

        
        <ul>
            <li><a href="{{base_path}}/login">Linkki kirjautumisnäkymään</a></li>
            <li><a href="{{base_path}}/admin/">Linkki adminin etusivulle</a></li>            
        </ul>
        
        <p>
            Adminin etusivulta pääsee uuden käyttäjän luomisnäkymään sekä tarkastelemaan käyttäjän profiilia. 
            Käyttäjän poistaminen ei vielä toimi. Profiilista pääsee tarkastelemaan tilin tilitapahtumia sekä omia tietojaan. 
            Omista tiedoista pääsee tietojen muokkausnäkymään. Sivut ovat staattisia lukuunottamatta adminin etusivua.
        
        </p>
        {% endblock %}